.fade-animation {
    animation: fade 15s linear infinite;
}

@keyframes fade {
    0%, 100% {
        box-shadow: none;
    }
    75% {
        box-shadow: var(--box-shadow);
    }
}

.down-animation {
    animation: down 1s linear infinite;
}

@keyframes down {
    0%, 100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(15%);
    }
}