.btn{
    padding: 1.2rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.btn-success{
    background-color: var(--color-green);
}